<html>
<head>
    <link rel="stylesheet" type="text/css" href="/common.css">
    <link rel="stylesheet" type="text/css" href="/categories.css">

</head>


<body>

    <img src="/budget_tracker_logo.png" width=175> <br>

Sorted by:

    <select id='sort' onChange="window.location.href=this.value" >
        <option value='/categories?sortedBy=ID_ASC' #if($sortedBy=='ID_ASC') selected #end > Id asc </option>
        <option value='/categories?sortedBy=ID_DESC' #if($sortedBy=='ID_DESC') selected #end > Id desc </option>
        <option value='/categories?sortedBy=DESCR_ASC' #if($sortedBy=='DESCR_ASC') selected #end > Description asc </option>
        <option value='/categories?sortedBy=DESCR_DESC' #if($sortedBy=='DESCR_DESC') selected #end > Description desc </option>
    </select> &emsp;


    Filter:

            <select  name='type' onChange="window.location.href=this.value" >
                <option value='/categories?type=ALL' #if($type=='ALL') selected #end > All </option>
                <option value='/categories?type=EXPENSE' #if($type=='EXPENSE') selected #end > Expense </option>
                <option value='/categories?type=INCOME' #if($type=='INCOME') selected #end > Income </option>
            </select> &emsp;

            <!--<button onclick="location.href='/categories?sortedBy=ID_ASC&type=ALL'" type="button"> Reset </button>-->

    <br><br>
            <button onclick="location.href='/add_cat'" type="button"> Add new category </button>
    <br><br>

    <table>

        <tr>
            <th> Id </th>
            <th> Description </th>
            <th> Type </th>
        </tr>

        #foreach($cat in $categories)
            <tr>
                <td width=5% align=center>
                    $cat.id
                </td>

                <td width=20% align=center>
                    $cat.description
                </td>

                <td width=20% align=center>
                    #if($cat.type=='EXPENSE') Expense #else Income #end
                </td>

                <td width=1% align=center>
                    <button onclick="location.href='/update_cat/$cat.id'" type="button"> Edit </button>
                </td>

                <td width=1% align=center>
                #if(!$transCatId.contains($cat.id))
                <!--<button><a href='/delete_cat/$cat.id' onclick="return confirm('Are you sure you want to delete note with id $cat.id ?')">
                              Delete
                             </a></button>-->

                <button type='submit'  onclick="if(confirm('Are you sure you want to delete note with id $cat.id ?')) location.href='/delete_cat/$cat.id'">
                             Delete #end
                </button>
                </td>

            </tr>
        #end

    </table>

    <br><br>
    <button onclick="location.href='/main'" type="button"> Back to transactions </button>

</body>
</html>