<html>
<head>
    <!-- include some css files (taken from /public/.. folder) -->
    <link rel="stylesheet" type="text/css" href="/common.css">
    <link rel="stylesheet" type="text/css" href="/main.css">

</head>


<body>

    <!-- include logo (generated online at: https://cooltext.com) -->
    <img src="/budget_tracker_logo.png" width=175>
    <br>

    <!-- first row above table, with some labels and links -->

    Balance: #if($isNegative) <b style="color:red;"> $balance </b> #else <b> $balance </b> #end &nbsp;

 Sorted by:

     <select onChange="window.location.href=this.value" >
         <option value='/main?sortBy=DATE_DESC' #if($sortBy=='DATE_DESC') selected #end > Date desc </option>
         <option value='/main?sortBy=DATE_ASC' #if($sortBy=='DATE_ASC') selected #end > Date asc </option>
         <option value='/main?sortBy=AMOUNT_DESC' #if($sortBy=='AMOUNT_DESC') selected #end > Amount desc </option>
         <option value='/main?sortBy=AMOUNT_ASC' #if($sortBy=='AMOUNT_ASC') selected #end > Amount asc </option>
         <option value='/main?sortBy=CATEGORY_DESC' #if($sortBy=='CATEGORY_DESC') selected #end > Category desc </option>
         <option value='/main?sortBy=CATEGORY_ASC' #if($sortBy=='CATEGORY_ASC') selected #end > Category asc </option>
     </select> &emsp;

<!--Filter by type:

        <select  name='type' onChange="window.location.href=this.value" >
            <option value='/main'> - </option>
            <option value='/main?type=ALL' #if($type=='ALL') selected #end > All </option>
            <option value='/main?type=EXPENSE' #if($type=='EXPENSE') selected #end > Expense </option>
            <option value='/main?type=INCOME' #if($type=='INCOME') selected #end > Income </option>
        </select> &emsp;

Filter by category:

        <select  name='category' onChange="window.location.href=this.value" >
             <option value='/main'> - </option>
             <option value='/main?category=all'#if($category=='all') selected #end> All </option>
             #foreach($transaction in $allDistinctTransactions)
             <option value='/main?category=$transaction.category_description'  > $transaction.category_description </option>
             #end
        </select> &emsp;-->

                Filter by:

                <select name='filter' onChange="window.location.href=this.value">
                    <option value='/main?category=all&type=ALL' #if($category=='all') selected #end > All </option>
                    <optgroup label='Type' >
                      <option value='/main?type=EXPENSE&category=all' #if($type=='EXPENSE') selected #end > Expense </option>
                      <option value='/main?type=INCOME&category=all' #if($type=='INCOME') selected #end > Income </option>
                    </optgroup>
                    <optgroup label='Category' >
                      #foreach($transaction in $allDistinctTransactions)
                      <option value='/main?category=$transaction&type=ALL' #if($category==$transaction) selected #end > $transaction </option>
                      #end
                    </optgroup>
                  </select>

    <br><br>

    <!-- table of transactions -->
<button onclick="location.href='/add'" type="button"> Add new transaction </button>
    <br><br>

    <table>

        <!-- header row first -->
        <tr>
            <th> Id </th>
            <th> Category </th>
            <th> Date </th>
            <th> Type </th>
            <th> Amount($) </th>
            <th> Details </th>
        </tr>

        <!-- then for each note from model generate one regular table -->
        #foreach($transaction in $transactions)
            <tr>
                <td width=5% align=center>

                        $transaction.id

                </td>

                <td width=10% align=center>
                    $transaction.category_description
                </td>

                <td width=20% align=center>
                    $transaction.date
                </td>

                <td width=15% align=center>
                    #if($transaction.category_type=='EXPENSE') Expense #else Income #end
                </td>

                <td width=10% align=center>
                    $transaction.amount
                </td>

                <td width=10% align=center>
                    $!transaction.details
                </td>

                <td width=5% align=center>
                    <button onclick="location.href='/update/$transaction.id'" type="button"> Edit </button>
                </td>

                <td width=5% align=center>
             <!--<button><a href='/delete/$transaction.id' onclick="return confirm('Are you sure you want to delete note with id $transaction.id ?')">
                   Delete
             </a></button>-->

                <!--<form action='/delete/$transaction.id'>
                <input type="submit" value='Delete' onclick="return confirm('Are you sure you want to delete note with id $transaction.id ?')" >
                </form>-->

                <button type='submit'  onclick="if(confirm('Are you sure you want to delete note with id $transaction.id ?')) location.href='/delete/$transaction.id'">
                                   Delete
                             </button>

                </td>
            </tr>
        #end

    </table>

    <br><br>
<button onclick="location.href='/categories'" type="button"> View Categories </button>&nbsp;

<button onclick="location.href='/reports'" type="button"> View Reports </button>
    <br><br><br>



</body>
</html>